extends layout

block content
  div.jumbotron
    h1(align="center") Welcome to Farmers Mostly!
    p(align="center") The premiere place to find your dream person!
    a(href="/match").btn.btn-large.btn-success Get Started!
